<footer class="site-footer" id="contact">
	<div class="container">
		<div class="col-md-12">
			<a href="#top" class="go-to-top">To Top ↑</a>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p>Main Contact</p>
				<div>北京威胜通达科技有限公司</div>
				<div>地址：北京市昌平区回龙观蓝天嘉园一号楼</div>
				<div>电话：010-57863148 传真：010-57863149</div>
				<div>邮箱：wstd2010@163.com</div>
			</div>
			<div class="col-md-4">
				<p>Branch Contact</p>
				<div>成都威胜通达科技有限公司</div>
				<div>地址：成都市高新区科园二路1号</div>
				<div>电话：028-85432171</div>
				<div>邮箱：321619994@qq.com</div>
			</div>
			<div class="col-md-2">
				<p>About</p>
				<div><a href="/about">Introduction</a></div>
				<div><a href="/products">Products</a></div>
				<div><a href="/join">Join Us</a></div>
			</div>
			<div class="col-md-2">
				<p>Help</p>
				<div><a href="javascript:;">FAQ</a></div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="site-extra">Copyright©2016北京威胜通达科技有限公司版权所有 粤ICP备15041633号</div>
		</div>
	</div>
</footer>
