<footer class="footer">
    <div class="f_bg">
        <div class="contact">联系我们</div>
        <div class="contact bold">CONTACT US</div>
        <div class="content inline">
            <div class="left">
                <div>北京威胜通达科技有限公司</div>
                <div>地址：北京市昌平区回龙观蓝天嘉园一号楼</div>
                <div>电话：010-57863148 传真：010-57863149</div>
                <div>邮箱：wstd2010@163.com</div>
            </div>
            <div class="right">
                <div>成都威胜通达科技有限公司</div>
                <div>地址：成都市高新区科园二路1号</div>
                <div>电话：028-85432171 邮箱：321619994@qq.com</div>
            </div>
        </div>
    </div>
    <div class="bq_bg">Copyright©2016北京威胜通达科技有限公司版权所有 粤ICP备15041633号</div>
</footer>