<footer class="footer">
	<div class="f_bg">
		<ul>
			<li class="f_a">
				<div class="gap inline"></div>
				<div class="am inline">
					<div>联系我们</div>
					<div>CONTACT US</div>
				</div>
				<div class="content top-content">
					<div class="top">北京威胜通达科技有限公司</div>
					<div>地址：北京市昌平区回龙观蓝天嘉园一号楼</div>
					<div>电话：010-57863148 传真：010-57863149</div>
					<div>邮箱：wstd2010@163.com</div>
				</div>
				<div class="content bottom-content">
					<div class="top">成都威胜通达科技有限公司</div>
					<div>地址：成都市高新区科园二路1号</div>
					<div>电话：028-85432171 邮箱：321619994@qq.com</div>
				</div>
			</li>
			<li class="f_b">
				<div class="top">关于威胜通达</div>
				<div><a href="javascript:;">公司介绍</a></div>
				<div><a href="javascript:;">人才招聘</a></div>
			</li>
			<li class="f_c">
				<div class="top">公司产品</div>
				<div><a href="javascript:;">人影系统</a></div>
				<div><a href="javascript:;">北斗应用</a></div>
				<div><a href="javascript:;">无人机系统</a></div>
			</li>
			<li class="f_d">
				<div class="top">服务中心</div>
				<div><a href="javascript:;">帮助中心</a></div>
				<div><a href="javascript:;">新闻中心</a></div>
				<div><a href="javascript:;">最新消息</a></div>
			</li>
			<li class="f_e">
				<div class="top">其它</div>
			</li>
		</ul>
	</div>
	<div class="bq_bg">Copyright©2016北京威胜通达科技有限公司版权所有 粤ICP备15041633号</div>
</footer>
