<header class="site-header" id="top">
	<div class="container">
		<div class="row">
			<div class="col-xs-7 col-md-7">
				<a class="logo inline" href="/">
					<img src="/images/logo.png" alt="logo" />
					<span class="company-name inline">北京威胜通达科技有限公司</span>
				</a>
			</div>
			<div class="col-xs-5 col-md-5 hidden-xs">
				<div class="contact-way">
					<i class="iconfont icon-lianxidianhua"></i>
					<div class="contact-phone">
						<div class="phone-text">服务热线:</div>
						<span class="phone">010-57863148(北京)</span>
						<span class="phone">028-85432171(成都)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
