<header class="header">
	<a class="logo" href="javascript:;">
		<img src="/images/logo.png" alt="icon" style="width: 90px; height: 60px"/>
		<span class="company-name">北京威胜通达科技有限公司</span>
	</a>
	<div class="contact-info">
		<div class="inline"><i class="iconfont icon-lianxidianhua"></i></div>
		<div class="inline">
			<div class="phone-text">服务热线:</div>
			<span class="phone">010-57863148(北京)</span>
			<span class="phone">028-85432171(成都)</span>
		</div>
	</div>
</header>
