<div class="nav">
  <div class="nav-content">
		<ul>
			<li class="active"><a href="javascript:;">首页</a></li>
			<li><a href="javascript:;">关于我们</a></li>
			<li><a href="javascript:;">产品中心</a></li>
			<li><a href="javascript:;">新闻中心</a></li>
			<li><a href="javascript:;">招聘中心</a></li>
			<li><a href="javascript:;">帮助中心</a></li>
		</ul>
	</div>
</div>
