<div class="nav">
  <div class="nav-content">
		<ul>
			<li class="active"><a href="javascript:;">首页</a></li>
			<li><a href="javascript:;">产品</a></li>
			<li><a href="javascript:;">招聘</a></li>
		</ul>
	</div>
</div>
