<div class="slide inline">
    <div class="slide-content">
        <select name="product-select" id="js-select-product">
            <option value="one">北斗应用</a></option>
            <option value="two">通航应用</option>
            <option value="third">人影对空射击</option>
            <option value="four">人影飞行</option>
        </select>
    </div>
</div>
