<div class="slide inline">
    <div class="slide-content">
		<ul>
			<li class="active">北斗应用</li>
            <li>通航应用</li>
            <li>人影对空射击</li>
            <li>人影飞行</li>
		</ul>
	</div>
</div>
