<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<ul>
					<li>公司介绍</li>
					<li><a href="#basic">1.注册情况</a></li>
					<li><a href="#info">2.公司简介</a></li>
					<li><a href="#culture">3.公司文化</a></li>
					<li><a href="#advantage">4.公司优势</a></li>
					<li><a href="#company-structure">5.公司架构</a></li>
					<li><a href="#staff-structure">6.员工构成</a></li>
					<li><a href="#achievement">7.主要业绩</a></li>
					<li><a href="#certificate">8.管理证书</a></li>
					<li><a href="#qualifications">9.公司资质</a></li>
					{{!-- <li><a href="#certificate">10.部分专利证书</a></li>
					<li><a href="#certificate">11.部分著作权证书</a></li> --}}
				</ul>
			</div>
			<div class="col-xs-9 col-md-9">
				<section class="basic" id="basic">
					<header>注册情况</header>
					<table class="about-table" border="1" cellspacing="0" cellpadding="2">
						<tr>
							<td>公司名称</td>
							<td>北京威胜通达科技有限公司</td>
						</tr>
						<tr>
							<td>成立日期</td>
							<td>2007年10月10日</td>
						</tr>
						<tr>
							<td>企业类型</td>
							<td>有限责任公司</td>
						</tr>
						<tr>
							<td>注册地址</td>
							<td>北京海淀区上地十街1号</td>
						</tr>
						<tr>
							<td>经营范围</td>
							<td>一般经营项目：技术推广服务：展览服务；企业形象策划；销售电子产品、五金交电、机械设备</td>
						</tr>
					</table>
				</section>
				<section class="info" id="info">
					<header>公司简介</header>
					<div class="article justify">    北京威胜通达科技有限公司是一家主要从事自动控制、信息处理和电子产品研发、生产的高新科技企业。公司成立于2007年10月，注册资金785万元。公司产品开发主要涉足空管、气象两个行业。涉猎航空管制技术、电子雷达技术、气象情报服务技术、物联网技术等，已开发人工影响天气对空射击空域管理系统、基于物联网技术的人工影响天气综合管理系统、基于“北斗”平台的通航自主导航系统、低空飞行运营监视系统、低空飞行情报网络服务平台等系列产品。</div>
				</section>
				<section class="culture" id="culture">
					<header>公司文化</header>
					<div class="article justify">    公司的主要管理层成员来自于军队空管领域，具有多年军队空管自动化经验，基于长期的军队空管工作熏陶，公司管理层发自内心地热爱空管行业，以毕生投入空管行业、做一名“空管人”为己任。多年来，公司管理层一直保持着长期在军队空管工作中形成的敬业精神和雷厉风行的工作作风。威胜通达，寓意公司立志成为空管领域的威武之师，胜利之师。
    作为一家高科技软件企业，公司除保持着军队空管工作中形成的工作作风和意志品质外，同时也是一个“学习型组织”，一家“发展型企业”。公司为员工提供不断的学习和发展的机会，使员工通过不断的工作积累和学习培训，持续自我提高和完善，在空管和气象管理领域自动化方面发挥着越来越举足轻重的作用。</div>
				</section>
				<section class="advantage" id="advantage">
					<header>公司优势</header>
					<div class="article justify">    本公司主要产品为空管行业产品、气象行业产品以及通用型物联网系统产品。就空管行业而言，公司主要领导具备空管行业技术、应用、市场工作经验，能够得到足够的行业应用、技术和市场支持；公司定位在通用航空、一般航空非大系统但实用规范的中小系统的集成、开发和建设，具备较好的市场竞争能力。就气象行业而言，公司产品一部分也是与空管应用相关，介于空管系统和气象系统之间的信息交互模式，以及在气象人影指挥平台方面的相关应用，具备一定的市场进入门槛和市场限制，因此基本可以保证较好的市场占有率，也具备较强的市场竞争能力。就物联网产品而言，我们具备气象人影物联网产品的5项专利证书，以及在华北地区的应用示范作用，具备技术、应用上先发优势，因此在行业应用方面具备市场竞争优势地位，在向其他行业推广应用方面也能够具备一定的市场竞争能力。</div>
				</section>
				<section class="company-structure" id="company-structure">
					<header>公司结构</header>
					<div class="justify">公司是依照《公司法》组建的有限责任公司，按照《公司法》的要求设置经营管理机构。股东大会为公司的最高权力机关和决策机构，下设董事会、总经理、公司各研究中心和部门。组织架构图如下：</div>
					<div class="structure-img">
						<img src="/images/about-structure.png" style="width: 100%" alt="公司架构">
					</div>
				</section>
				<section class="staff-structure" id="staff-structure">
					<header>员工构成</header>
					<div class="justify">公司现有员工20人，其中博士1 人，硕士1人，本科13人，本科以上人员占公司总人数75%。</div>
					<div class="structure-img">
						<img src="/images/about-staff.png" style="width: 100%" alt="员工构成">
					</div>
				</section>
				<section class="achievement" id="achievement">
					<header>主要业绩介绍</header>
					<div class="achievements">
						<div>2008年  公司研发并生产2008奥运会空中交通管制临时值班系统。</div>
						<div>2009年  公司所研发的人影对空射击空域申请系统在兰空获得军队科技成果鉴定，并西安空管分区及陕西省1省、7市、43县开始使用。</div>
						<div>2010年  公司提供的人影对空射击空域申请系统在北京市人影系统使用，获得国家气象局、总参空管局等相关领导好评。</div>
						<div>2011年  公司研发的人影对空射击管理信息系统在国家对空射击空域管理试点项目中通过验收并投入使用。</div>
						<div>2012年  公司研发的通用航空运行监视系统在西安地区、北京地区部分通航机场投入使用。</div>
						<div>2012年  公司参与的基于物联网的人影装备弹药管理系统在北京市人影系统完成项目鉴定，并投入使用。</div>
						<div>2011年至2013年   公司提供的人影对空射击空域申请系统在河北省、重庆市、天津市及内蒙古自治区、甘肃省部分地市建设完成并投入使用。</div>
						<div>2013年  北京市人影物联网建设项目由我公司承建，验收后已投入使用。</div>
						<div>2013年  公司承研完成北斗低空自主导航系统项目，即将由北京市科委进行项目鉴定。</div>
					</div>
				</section>
				<section class="certificate" id="certificate">
					<header>管理证书</header>
					<img src="/images/about-certificate1.jpg" style="width: 40%; height: 300px" alt="">
					<img src="/images/about-certificate2.jpg" style="width: 40%; height: 300px" alt="">
				</section>
				<section class="qualifications" id="qualifications">
					<header>公司资质</header>
					<img src="/images/about-qualification1.png" style="width: 33%; height: 300px" alt="">
					<img src="/images/about-qualification2.png" style="width: 33%; height: 300px" alt="">
					<img src="/images/about-qualification3.png" style="width: 30%; height: 300px" alt="">
				</section>
			</div>
		</div>
	</div>
</div>
