<div class="about">
  <div class="aside-left inline">
		<ul>
			<li class="js-toggle-li">一、基本情况<span class="right close-li hide">↑</span><span class="right show-li">↓</span></li>
			<li class="hide"><a href="#basic">1.注册情况</a></li>
			<li class="hide"><a href="#culture">2.公司文化</a></li>
			<li class="hide"><a href="#holder">3.股权结构</a></li>
			<li class="hide"><a href="#advantage">4.公司优势</a></li>
		</ul>
		<ul>
			<li class="js-toggle-li">二、组织结构<span class="right close-li hide">↑</span><span class="right show-li">↓</span></li>
			<li class="hide"><a href="#company-structure">1.公司架构</a></li>
			<li class="hide"><a href="#staff-structure">2.员工构成</a></li>
		</ul>
	</div>
	<div class="aside-right inline">
		<section class="basic" id="basic">
			<header>注册情况</header>
			<table class="about-table" width="600" border="1" cellspacing="0" cellpadding="2">
				<tr>
					<td>公司名称</td>
					<td>北京威胜通达科技有限公司</td>
				</tr>
				<tr>
					<td>成立日期</td>
					<td>2007年10月10日</td>
				</tr>
				<tr>
					<td>企业类型</td>
					<td>有限责任公司</td>
				</tr>
				<tr>
					<td>注册地址</td>
					<td>北京海淀区上地十街1号</td>
				</tr>
				<tr>
					<td>经营范围</td>
					<td>一般经营项目：技术推广服务：展览服务；企业形象策划；销售电子产品、五金交电、机械设备</td>
				</tr>
			</table>
		</section>
		<section class="holder" id="holder">
			<header>股权结构</header>
			<table class="holder-table" width="600" border="1" cellspacing="0" cellpadding="2">
				<tr>
					<td rowspan="2">股东名称</td>
					<td colspan="3" align="center">出资形式及金额(万元)</td>
					<td rowspan="2">出资金额(万元)</td>
					<td rowspan="2">持股比例(%)</td>
				</tr>
				<tr>
					<td>货币资金</td>
					<td>实物资产</td>
					<td>无形资产(知识产权)</td>
				</tr>
				<tr>
					<td>四川大智软件股份有限公司</td>
					<td>400</td>
					<td></td>
					<td></td>
					<td>400</td>
					<td>50.96</td>
				</tr>
				<tr>
					<td>程明</td>
					<td>65</td>
					<td></td>
					<td>185.25</td>
					<td>250.25</td>
					<td>31.88</td>
				</tr>
				<tr>
					<td>郑立伟</td>
					<td>15</td>
					<td></td>
					<td>42.75</td>
					<td>57.75</td>
					<td>7.36</td>
				</tr>
				<tr>
					<td>石砳</td>
					<td>20</td>
					<td></td>
					<td>57</td>
					<td>77</td>
					<td>9.8</td>
				</tr>
				<tr>
					<td>合计</td>
					<td>500</td>
					<td></td>
					<td>285</td>
					<td>785</td>
					<td>100</td>
				</tr>
			</table>
		</section>
		<section class="culture" id="culture">
			<header>公司文化</header>
			<article class="article">    公司的主要管理层成员来自于军队空管领域，具有多年军队空管自动化经验，基于长期的军队空管工作熏陶，公司管理层发自内心地热爱空管行业，以毕生投入空管行业、做一名“空管人”为己任。多年来，公司管理层一直保持着长期在军队空管工作中形成的敬业精神和雷厉风行的工作作风。威胜通达，寓意公司立志成为空管领域的威武之师，胜利之师。
    作为一家高科技软件企业，公司除保持着军队空管工作中形成的工作作风和意志品质外，同时也是一个“学习型组织”，一家“发展型企业”。公司为员工提供不断的学习和发展的机会，使员工通过不断的工作积累和学习培训，持续自我提高和完善，在空管和气象管理领域自动化方面发挥着越来越举足轻重的作用
			</article>
		</section>
		<section class="advantage" id="advantage">
			<header>公司优势</header>
			<article class="article">    本公司主要产品为空管行业产品、气象行业产品以及通用型物联网系统产品。就空管行业而言，公司主要领导具备空管行业技术、应用、市场工作经验，能够得到足够的行业应用、技术和市场支持；公司定位在通用航空、一般航空非大系统但实用规范的中小系统的集成、开发和建设，具备较好的市场竞争能力。就气象行业而言，公司产品一部分也是与空管应用相关，介于空管系统和气象系统之间的信息交互模式，以及在气象人影指挥平台方面的相关应用，具备一定的市场进入门槛和市场限制，因此基本可以保证较好的市场占有率，也具备较强的市场竞争能力。就物联网产品而言，我们具备气象人影物联网产品的5项专利证书，以及在华北地区的应用示范作用，具备技术、应用上先发优势，因此在行业应用方面具备市场竞争优势地位，在向其他行业推广应用方面也能够具备一定的市场竞争能力。
			</article>
		</section>
		<section class="company-structure" id="company-structure">
			<header>公司结构</header>
			<div>公司是依照《公司法》组建的有限责任公司，按照《公司法》的要求设置经营管理机构。股东大会为公司的最高权力机关和决策机构，下设董事会、总经理、公司各研究中心和部门。组织架构图如下：</div>
		</section>
		<section class="staff-structure" id="staff-structure">
			<header>员工构成</header>
		</section>
		<div>公司现有员工20人，其中博士1 人，硕士1人，本科13人，本科以上人员占公司总人数75%。</div>
	</div>
</div>