<div class="banner">
	<div class="banner-top"></div>
	<div class="swiper-container" id="banner-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-no-swiping"><img src="images/banner1.jpg" alt="" style="width: 1200px; height: 500px" /></div>
			<div class="swiper-slide swiper-no-swiping"><img src="images/banner2.jpg" alt="" style="width: 1200px; height: 500px" /></div>
			<div class="swiper-slide swiper-no-swiping"><img src="images/banner3.jpg" alt="" style="width: 1200px; height: 500px" /></div>
			<div class="swiper-slide swiper-no-swiping"><img src="images/banner4.jpg" alt="" style="width: 1200px; height: 500px" /></div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
		
		<!-- 如果需要导航按钮 -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
<div class="intro">
	<div class="title">公司概况</div>
	<div class="content">
		<img class="left" src="images/company_intro.jpg" alt="" style="width: 300px; height: 150px">
		<div class="text">	公司管理层成员很多来自军队空管、气象领域，保持着长期在军队工作中形成的敬业精神和雷厉风行的工作作风，努力带领公司向“威武胜利之师”的发展目标进发。
	公司作为一行业高科技企业，特别是以软件集成技术为主题的高新企业，将以发展创新为先异，努力成为一个“学习型组织”，一家“发展型企业”。
	公司过去、现在和将来均持续为员工提供不断学习和发展的平台，使员工持续实现能力提高和自我完善，以使公司不断增进在空管、气象自动化技术领域的人才集聚和技术积累。
	公司过去、现在和将来均持续为员工提供不断学习和发展的平台，使员工持续实现能力提高和自我完善，以使公司不断增进在空管、气象自动化技术领域的人才集聚和技术积累。
	公司过去、现在和将来均持续为员工提供不断学习和发展的平台，使员工持续实现能力提高和自我完善，以使公司不断增进在空管、气象自动化技术领域的人才集聚和技术积累。</div>
	</div>
</div>
<div class="intro product">
	<div class="title">项目展示</div>
</div>
<div class="products">
	<div class="swiper-container" id="product-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" style="width: 275px">
				<a href="/input"><img src="images/product1.jpg" alt="" style="width: 270px; height: 200px" /></a>
			</div>
			<div class="swiper-slide" style="width: 275px">
				<a href="javascript:;"><img src="images/product2.jpg" alt="" style="width: 270px; height: 200px" /></a>
			</div>
			<div class="swiper-slide" style="width: 275px">
				<a href="javascript:;"><img src="images/product3.jpg" alt="" style="width: 270px; height: 200px" /></a>
			</div>
			<div class="swiper-slide" style="width: 275px">
				<a href="javascript:;"><img src="images/product4.jpg" alt="" style="width: 270px; height: 200px" /></a>
			</div>
			<div class="swiper-slide" style="width: 275px">
				<a href="javascript:;"><img src="images/product5.jpg" alt="" style="width: 270px; height: 200px" /></a>
			</div>
		</div>
	</div>
	<!-- 如果需要导航按钮 -->
	<div class="swiper-button-prev swiper-button-product-prev swiper-button-black"></div>
	<div class="swiper-button-next swiper-button-product-next swiper-button-black"></div>
</div>
<div class="intro news">
	<div class="title">最新动态<a href="javascript:;"><span class="right">More ></span></a></div>
	<div class="content">
		<ul>
			<li>
				<div class="message"><i class="iconfont icon-tubiao_Axinwengonggao"></i>这是第一则新闻
					<span class="right">2017-09-10</span>
				</div>
			</li>
			<li>
				<div class="message"><i class="iconfont icon-tubiao_Axinwengonggao"></i>这是第二则新闻
					<span class="right">2017-10-10</span>
				</div>
			</li>
			<li>
				<div class="message"><i class="iconfont icon-tubiao_Axinwengonggao"></i>这是第三则新闻
					<span class="right">2017-11-10</span>
				</div>
			</li>
			<li>
				<div class="message"><i class="iconfont icon-tubiao_Axinwengonggao"></i>这是第四则新闻
					<span class="right">2017-12-10</span>
				</div>
			</li>
			<li>
				<div class="message"><i class="iconfont icon-tubiao_Axinwengonggao"></i>这是第五则新闻
					<span class="right">2018-01-10</span>
				</div>
			</li>
		</ul>
	</div>
</div>