<div>新增什么</div>
<form class="js-put-form">
	<label for="userName">用户名称</label>
	<input id="userName" type="text" name="userName"/>
	<label for="realName">真实姓名</label>
	<input id="realName" type="text" name="realName"/>
	<label for="password">密码</label>
	<input id="password" type="number" name="password"/>
	<label for="userType">用户类型</label>
	<input id="userType" type="number" name="userType"/>
	<button type="submit">提交</button>
</form>