<div class="join">
    <div class="aside-left inline">
        <ul>
            <li>招聘岗位</li>
            <li>QT/C++软件开发工程师</li>
            <li>Android开发工程师</li>
        </ul>
    </div>
    <div class="aside-right inline"></div>
</div>
