<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<title>{{title}}</title>
	<link rel="icon" href="/images/victorysoft.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/victorysoft.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/styles/common.css">
	<link rel="stylesheet" href="/styles/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_532032_vyo2yh4qli60f6r.css">
</head>
<body>
	{{> header}}
	{{> nav}}
	{{{body}}}
	{{> footer}}
	<script src="/js/jquery.min.js"></script>
	<script src="/js/swiper-3.4.2.jquery.min.js"></script>
	<script src="/js/home.js"></script>
</body>
</html>
