<div class="news news-detail">
    <header>新闻标题{{id}}</header>
    <div class="line">
        <div class="left">@wstd-xxx</div>
        <div class="right">2018-01-20</div>
    </div>
    <div class="content">这是ID为{{id}}的内容</div>
</div>
