<div class="news">
    <div class="container">
        <header>全部动态</header>
        <div class="content">
            <ul>
                {{#each data}}
                    <li>·&nbsp;<a href="/news/{{id}}">{{title}}</a><span class="right">{{formatDate createdAt "YYYY-MM-DD"}}</span></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
