<div class="products-detail">
    <div class="container">
        <a class="btn btn-primary" href="/products">返回</a>
        {{#with data}}
            <header>{{name}}</header>
            <div class="time">{{formatDate createdAt "YYYY-MM-DD"}}</div>
            <div class="detail-extra w-e-text">
                {{{decode content}}}
            </div>
        {{/with}}
    </div>
</div>
