<div class="products-detail">
    <div class="container">
        {{#with (parse data)}}
            <header>{{name}}</header>
            <div class="time">{{formatDate createdAt "YYYY-MM-DD"}}</div>
            <div class="detail-extra">
                {{{content}}}
            </div>
        {{/with}}
    </div>
</div>
