<div class="products">
  {{> slide}}
	<div class="content inline">
    <section class="one" id="one">
      <img src="" alt="北斗应用" style="width: 990px; height: 900px" />
      <img src="" alt="北斗应用" style="width: 990px; height: 900px" />
    </section>
    <section class="two" id="two">
      <img src="" alt="通航应用" style="width: 990px; height: 900px" />
      <img src="" alt="通航应用" style="width: 990px; height: 900px" />
    </section>
    <section class="third" id="third">
      <img src="" alt="人影对空射击" style="width: 990px; height: 900px" />
      <img src="" alt="人影对空射击" style="width: 990px; height: 900px" />
    </section>
    <section class="four" id="four">
      <img src="" alt="人影飞行" style="width: 990px; height: 900px" />
      <img src="" alt="人影飞行" style="width: 990px; height: 900px" />
    </section>
  </div>
</div>
