<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<title>{{title}}</title>
	<link rel="stylesheet" href="styles/input.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_532032_qo0vaipbd05uq5mi.css">
</head>
<body>
	{{{body}}}
	<script src="js/jquery.min.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/input.js"></script>
</body>
</html>
