body {
	margin: 0;
	padding: 0;
	background-color: #F1FBFB;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.inline {
	display: inline-block;
}

.hide {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.header {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

.header .logo {
	display: inline-block;
	height: 60px;
	padding: 10px 0;
}

.header .company-name {
	display: inline-block;
	height: 80px;
	font-size: 24px;
	color: #18A08B;
	vertical-align: middle;
}

.contact-info {
	float: right;
	height: 50px;
	padding: 20px 0;
}

.contact-info .icon-lianxidianhua {
	font-size: 35px;
	color: darkorchid;
	margin-right: 10px;
	vertical-align: text-bottom;
}

.contact-info .phone-text {
	line-height: 18px;
	color: #666;
}

.contact-info .phone {
	font-size: 14px;
	color: #18A08B;
}

.nav {
	width: 100%;
	height: 45px;
	background: #0C96B3;
	box-shadow: 2px 2px 4px #666;
}

.nav-content {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.nav-content ul li {
	float: left;
	padding: 0 20px;
	line-height: 45px;
}

.nav-content ul li.active {
	background-color: #037891;
}

.nav-content ul li a {
	font-size: 18px;
	color: #fff;
}

.banner {
	width: 1200px;
	margin: 0 auto;
}

.banner .banner-top {
	height: 4px;
	width: 1200px;
}

.intro {
	width: 1180px;
	margin: 0 auto;
	background-color: #1EA0BE;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	padding: 0 10px 10px 10px;
}

.intro .title {
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.intro .content {
	height: 150px;
	padding: 10px;
	background-color: #f8f8f8;
	border-radius: 5px;
}

.intro .content .text {
	height: 150px;
	overflow: hidden;
	margin-left: 310px;
	white-space: pre-wrap;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}

.product {
	margin-top: 10px;
	padding-bottom: 0px;
}

.products {
	width: 1100px;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
}

.products .swiper-button-product-prev {
	left: -45px;
}

.products .swiper-button-product-next {
	right: -45px;
}

.news {
	margin-top: 10px;
}

.news .content .message {
	color: #444;
	margin-bottom: 4px;
}

.icon-tubiao_Axinwengonggao {
	margin-right: 5px;
	color: rgb(248, 94, 94);
}

.footer {
	width: 100%;
	background-color: rgba(129,129,129, 1.5);
}

.footer .f_bg {
	width: 1200px;
	height: 250px;
	margin: 0 auto;
	margin-top: 20px;
}

.footer .f_bg ul li {
	float: left;
	height: 250px;
	color: white;
	border-right: 1px solid #9a9a9a;
}

.footer .f_bg .f_a {
	width: 300px;
	padding-right: 30px;
}

.footer .f_bg .f_b, .footer .f_bg .f_c, .footer .f_bg .f_d, .footer .f_bg .f_e {
	width: 120px;
	padding: 0 50px;
	text-align: left;
	font-size: 14px;
	line-height: 25px;
}

.footer .f_bg .f_d {
	width: 90px;
	padding: 0 65px;
}

.footer .f_bg .f_e {
	width: 40px;
	padding: 0 82px;
}

.footer .f_bg .f_b .top, .footer .f_bg .f_c .top, .footer .f_bg .f_d .top, .footer .f_bg .f_e .top {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
}

.footer .f_bg .f_a .gap {
	width: 3px;
	height: 40px;
	margin-top: 10px;
	background-color: #F4F4F4;
}

.footer .f_bg .f_a .am {
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
	vertical-align: top;
}

.footer .f_bg .f_a .content {
	font-family: "宋体";
	font-size: 12px;
	line-height: 23px;
}

.footer .f_bg .f_a .content .top {
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
}

.footer .f_bg .f_a .top-content {
	margin-bottom: 10px;
	margin-top: 5px;
}

.footer .f_bg .f_a .bottom-content {
	padding-top: 5px;
	border-top: 1px solid #9a9a9a;
}

.footer .f_bg .f_a .bottom-content .top {
	font-size: 14px;
}

.footer .bq_bg {
	width: 100%;
	min-width: 1200px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #dfdfdf;
	background-color: #777777;
}

/* 产品类样式 */
.products-page {
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}

.products-page .slide {
	width: 330px;
}

/* .products-page .slide .slide-content {
	padding: 10px;
	border: 1px solid #18A08B;
	border-radius: 5px;
} */

.products-page .slide .slide-content li {
	line-height: 35px;
	padding-left: 20px;
	margin-bottom: 15px;
	font-size: 16px;
}

.products-page .slide .slide-content li.active {
	background-color: #1BA5A2;
	color: white;
	box-shadow: 0px 2px 2px 2px #666;
}

.products-page .content {
	width: calc(100% - 400px);
	vertical-align: top;
}