body {
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 11px;
	line-height: 18px;
	background: #F0F0F0;
	border: 20px solid #ffffff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

/* 网站首页header */
.site-header {
	position: relative;
	z-index: 100;
	margin-top: -44px;
}

.site-title {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
    margin-bottom: -40px;
    padding: 15px;
}

.site-title a {
	display: block;
	width: 300px;
	height: 208px;
	background: url("/images/header-img.png") center top no-repeat;
}

.site-nav {
	width: 950px;
	position: relative;
	top: -85px;
	margin: auto;
}

.site-nav ul {
	position: absolute;
	top: 0;
}

.site-nav ul li {
	display: inline;
}

.site-nav ul li a {
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	color: rgba(0, 0, 0, .5);
}

.site-nav ul li a:hover {
	color: #333;
}

.site-nav ul.list-1 {
	left: 0;
}

.site-nav ul.list-2 {
	right: 0;
}

/* 首页轮播组件样式 */
.site-banner {
	width: 1200px;
	margin: auto;
}

.site-banner #banner-container .swiper-pagination-bullets {
	bottom: 25px;
}

.site-banner li.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	border: 2px solid #fff;
    color: #fff;
    margin: 0 4px;
	transform: rotate(45deg);
	background: none;
	border-radius: 0;
	opacity: 1;
}

.site-banner li.swiper-pagination-bullet-active {
	border-color: #966B3A;
	color: #966B3A;
}

.site-banner .swiper-pagination-bullet a {
	display: block;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	color: #fff;
    zoom: 1;
    height: 100%;
    width: 100%;
}

.site-banner li.swiper-pagination-bullet-active a {
	color: #966B3A;
}

/* 首页公司产品组件样式 */
.site-products {
	width: 1200px;
	margin: auto;
	margin-top: 120px;
	margin-bottom: 50px;
	position: relative;
}

.site-products header h1 {
	position: absolute;
    top: -75px;
    left: 0;
    z-index: 99;
}

.site-products header h2 {
	margin-left: 148px;
    border-bottom: 1px solid #DAD5D2;
    text-align: right;
	color: #666;
	font-size: 12px;
    font-family: Geogrotesque-SemiBold,sans-serif;
}

.site-products .swiper-slide {
	background: #fff;
    margin: 15px;
}

.site-products .swiper-slide a {
	display: block;
	padding: 6px;
	-webkit-transition: background-color .15s,color .15s,border-color .15s,text-shadow .15s,opacity .15s;
	transition: background-color .15s,color .15s,border-color .15s,text-shadow .15s,opacity .15s;
}

.site-products .swiper-slide a:hover {
	background: url("/images/view-item.png") center center no-repeat;
}

.site-products .swiper-slide a:hover img {
	opacity: 0.5;
}

.site-products .swiper-slide .product-name {
	color: #000;
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.site-products .swiper-slide .product-created {
	color: #999;
}

.site-products .swiper-button-product-prev {
	left: -35px;
}

.site-products .swiper-button-product-next {
	right: -35px;
}

/* 首页最新消息组件样式 */
.site-news {
	width: 1200px;
	height: 600px;
	margin: auto;
	background: url("/images/news-bg.jpg") center center no-repeat;
	text-align: center;
	margin-bottom: 50px;
}

.site-news header {
	padding: 20px 0;
}

.site-news header h1 {
	display: inline-block;
    border: 1px dotted #fff;
	padding: 20px 30px;
	color: white;
}

.site-news header h1 .more {
	font-size: 12px;
	margin-left: 10px;
	border-bottom: 1px dotted #fff;
}

.site-news header h1 .more:hover {
	color: #966B3A;
	border-bottom-color: #966B3A;
}

.site-news .new {
	display: inline-block;
	margin: 15px 10px;
	text-align: left;
	width: 255px;
	background-color: #fff;
	transition: transform .2s;
}

.site-news .new:hover {
	transform: translateY(-10px);
}

.site-news .new header {
	padding: 15px 20px;
}

.site-news .new header .time {
	color: #966B3A;
    margin-bottom: 5px;
}

.site-news .new header .title {
	font-size: 15px;
	font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.site-news .new .new-img {
	position: relative;
	width: 100%;
	height: 255px;
}

.icon-tubiao_Axinwengonggao {
	color: rgb(248, 94, 94);
}

/* 首页底部样式 */
.site-footer {
	background: #383733;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    line-height: 2.3;
}

.site-footer .site-footer-content {
	position: relative;
	margin: auto;
	width: 1200px;
	padding-top: 60px;
}

.site-footer .site-footer-content .go-to-top {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 10px;
	color: #999;
}

.site-footer .site-footer-content .go-to-top:hover {
	color: #ccc;
}

.site-footer .site-footer-content section {
	float: left;
}

.site-footer .site-footer-content .footer-contact {
	width: 300px;
}

.site-footer .site-footer-content .footer-about {
	width: 200px;
	margin-left: 200px;	
}

.site-footer .site-footer-content .footer-help {
	width: 200px;
}

.site-footer .site-footer-content p {
	line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.site-footer .site-footer-content section a:hover {
	border-bottom: 1px solid #666;
}

.site-footer .site-footer-content .site-extra {
	text-align: center;
	margin-top: 30px;
	color: #D8D8D8;
}
